.container {
  display: flex;
  gap: 15px;
}

.box {
  display: flex;
  gap: 15px;
  width: 300px;
  height: 300px;
  padding: 10px;
  border: 1px solid black;
}

.dragItem {
  width: 100px;
  height: 100px;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.one {
  background-color: rgb(246, 168, 168);
}

.two {
  background-color: rgb(168, 246, 182);
}
