.Challenge__container {
  margin: 10px;
}

.Challenge__heading {
  margin-bottom: 10px;
}

.Challenge__title {
  margin-bottom: 5px;
}

.Challenge__details {
  width: 400px;
}

.Challenge__divider {
  margin: 20px 0;
}

.Challenge__button {
  padding: 5px;
  margin: 20px 0;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.todo {
  display: inline-block;
  background-color: var(--colour-primary);
}

.done {
  display: inline-block;
  background-color: var(--colour-secondary);
  color: var(--white);
}
