.bell {
  border: none;
  background-color: transparent;
  font-size: 30px;
  position: relative;
  width: max-content;
  padding: 5px;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background-color: red;
  height: 20px;
  width: 20px;
  border-radius: 100%;
}

.msg {
  padding: 5px;
  border: 2px solid black;
  margin: 5px 0;
  background-color: white;
}
