.footer {
  min-height: 300px;
  background-color: white;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.siteLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  display: flex;
  gap: 30px;
  align-items: center;
}

.socialLogos {
  display: flex;
  align-items: center;
  gap: 10px;
}
