.ComponentItem__listItem {
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 300ms;
}

.ComponentItem__listItem:active,
.ComponentItem__listItem:hover {
  background-color: var(--colour-primary);
}
