.container {
  height: max(80svh, 900px);
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../../_assets/jigsaw_tile2.png"),
    linear-gradient(
      127deg,
      rgba(123, 139, 208, 1) 0%,
      rgba(191, 230, 208, 1) 100%
    );
  background-repeat: repeat, no-repeat;
  background-position: top left, top left;
  background-size: auto, cover;
  border-radius: 5px;
}

.tagline {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  border: 3px solid black;
  border-radius: 5px;
  padding: 15px;
  background: white;
}

.HeroImageContainer {
  width: 100%;
  max-width: 700px;
  min-width: 300px;
}

.buttonContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-weight: bold;
  background-color: white;
  padding: 10px;
  border: 3px solid black;
  border-radius: 100%;
  margin: 10px;
  transform: scale(1);
  transition: all 0.3s;
}

.anchor:hover {
  color: white;
  background-color: black;
  transform: scale(1.25);
}

.anchor:hover + p {
  transform: translateY(15px) scale(1.15);
}

.cta {
  font-size: 1.3rem;
  font-weight: bold;
  transition: all 0.6s ease-out;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid black;
}
