.container {
  height: max(80%, 300px);
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
  background-image: url("../../_assets/jigsaw_tile2.png"),
    linear-gradient(
      127deg,
      rgba(123, 139, 208, 1) 0%,
      rgba(191, 230, 208, 1) 100%
    );
  background-repeat: repeat, no-repeat;
  background-position: top left, top left;
  background-size: auto, cover;
  border-radius: 5px;
}

.tagline {
  display: flex;
  flex-direction: column;
  line-height: 1.8;
  border: 3px solid black;
  border-radius: 5px;
  padding: 15px;
  background: white;
  text-align: center;
}

.buttonContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anchor {
  display: block;
  width: fit-content;
  font-weight: bold;
  background-color: white;
  padding: 10px;
  border: 3px solid black;
  border-radius: 5px;
  margin: 10px 0 30px;
  transform: scale(1);
  transition: all 0.3s;
}

.anchor:hover {
  color: white;
  background-color: black;
  transform: scale(1.25);
}
