.input {
  padding: 5px;
  margin: 50px 0 20px;
}

.progressContainer {
  position: relative;
}

.progress {
  position: absolute;
  margin-top: 10px;
  height: 20px;
  max-width: 400px;
  background-color: #7b8ade;
  border: 1px solid black;
}

.progressBG {
  position: absolute;
  margin-top: 10px;
  height: 20px;
  width: 400px;
  border: 1px solid black;
}

.completeMsg {
  color: red;
}
