.listItem {
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 300ms;
  width: 100%;
  max-width: 300px;
  min-height: 220px;
  scale: 1;
  transition: scale 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listItem:hover {
  scale: 1.05;
}

.tags {
  display: flex;
  justify-content: flex-end;
  /* gap: 5px; */
  font-size: 1.7rem;
}

.tag {
  display: block;
  line-height: 1;
  margin-left: 7px;
}
