.listItem {
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 300ms;
  width: 300px;
  height: 200px;
  scale: 1;
  transition: scale 0.3s;
}

.listItem:hover {
  scale: 1.05;
}
