.explanation {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  padding: 100px 10px;
  gap: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-image: url("../../_assets/jigsaw_tile2.png"), linear-gradient(
    127deg,
    #bfe6de 0%,
    #bfe6de 100%
  );
  background-repeat: repeat;
  background-position: -100px -50px;
  background-size: 180px;
  min-height: 500px;
}

.textContainer {
  max-width: 800px;
  display: flex;
  gap: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Blurb_1_container,
.Blurb_2_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 3px solid rgb(10, 10, 10);
  padding: 30px;
  border-radius: 5px;
  background-color: white;
}

.blurb_1,
.blurb_2 {
  max-width: 300px;
}
