.timeInput,
.button,
.display {
  padding: 10px;
  margin: 5px 0;
}

.label {
  display: block;
}

.timeInput {
  display: inline-block;
  width: 60px;
  margin-right: 5px;
}

.button {
  display: inline;
  cursor: pointer;
}

.display {
  display: block;
  width: 60px;
  border: 1px solid gray;
}
