.Component__container {
  padding: 50px 10px;
  background-image: url("../_assets/jigsaw_tile2.png"),
    linear-gradient(
      127deg,
      rgba(123, 139, 208, 1) 0%,
      rgba(191, 230, 208, 1) 100%
    );
  background-repeat: repeat, no-repeat;
  background-position: top left, top left;
  background-size: auto, cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Component {
  width: 100%;
  max-width: 600px;
}

.Component__HeadingContainer,
.Component__SolutionContainer,
.Component__ExplanationContainer,
.Component__CodeContainer,
.Component__LinksContainer {
  padding: 10px;
  border: 3px solid black;
  border-radius: var(--border-radius);
}

.Component__VideoContainer {
  width: 100%;
  max-width: 600px; /* same as the max-width of the Component */
  max-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Component__Video {
  width: 100%;
  height: auto;
  aspect-ratio: 540 / 960; /* Maintain the aspect ratio */
  max-width: 100%; /* Ensures the video does not exceed the width of its container */
  max-height: 90vh;
  border: 3px solid black;
  border-radius: var(--border-radius);
}

.Component__HeadingContainer,
.Component__ExplanationContainer,
.Component__LinksContainer {
  background-color: white;
}

.Component__SolutionContainer {
  background-color: var(--colour-primary);
  min-height: 250px;
  overflow-x: scroll;
}

.Component__heading {
  margin-top: 20px;
  margin-bottom: 5px;
  color: white;
}
