.title {
  margin-bottom: 10px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  background-image: url("../../_assets/jigsaw_tile2.png"),
    linear-gradient(
      0deg,
      rgba(123, 139, 208, 1) 0%,
      rgba(123, 139, 208, 1) 100%
    );
  background-repeat: repeat, no-repeat;
  background-position: top left, top left;
  background-size: auto, cover;
}
