.Nav__Link {
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 10px;
  align-items: center;
  gap: 10px;
  scale: 1;
  transition: scale 0.3s;
}

.Nav__Link:hover {
  scale: 1.05;
}

.brandName {
  font-size: 1.5rem;
  font-weight: bold;
}
