.container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  width: 200px;
  padding: 20px;
  align-items: center;
}

.counter {
    font-weight: bold;
}

.buttons__container {
  display: flex;
  gap: 10px;
}

button {
  display: grid;
  place-content: center;
  padding: 5px;
  width: 30px;
  aspect-ratio: 1 / 1;
  line-height: 1;
}
